<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- SlackDeleter uses the Legacy Tokens to use your account for a given Slack for it's processing
    More info can be found here: https://api.slack.com/custom-integrations/legacy-tokens -->
    <add key="authToken" value="your-auth-token-here" />
  </appSettings>
</configuration>